body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

.header {
    height: 72px;
    background: salmon;
    color: white;
    display: flex;
    padding: 16px;
    font-size: 32px;
    font-weight: 900;
}

.first {
    display: flex;
    gap: 16px;
    flex: 1;
  }

.logo{
  display: flex;
  flex: 1;
  align-items: center;
  font-weight: 900;
}

.sub {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 300;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
li {
    
}
  
a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}